{% extends "base.html" %}

    {% block pagehead %}
        {{ block.super }}

        <link href="/static/css/DT_bootstrap.css" rel="stylesheet" />
        <link href="/static/css/responsive-tables.css" rel="stylesheet" />

        <link href="/static/css/jquery-ui.css" rel="stylesheet" media="screen">


        {{ form.media }}
    {% endblock %}

    <body>
    {% block content %}
        {% include "header_full.html" %}

        <!-- section content -->
        <section class="section">
            <div class="row-fluid">
                {% include "side_left.html" %}

                <!-- span content -->
                <div class="span11">
                    <!-- content -->
                    <div class="content">
                        <!-- content-header -->
                        <div class="content-header">

                            <h2><i class="icofont-table"></i> Tables</h2>
                        </div><!-- /content-header -->

                        <!-- content-breadcrumb -->
                        <div class="content-breadcrumb">
                            <!--breadcrumb-nav-->

                            <!--breadcrumb-->
                            <ul class="breadcrumb">
                                <li><a href="/"><i class="icofont-home"></i> Dashboard</a> <span class="divider">&rsaquo;</span></li>
                                <li><a href="/property/list/"><i class="icofont-home"></i> Property List</a> <span class="divider">&rsaquo;</span></li>

                                <li class="active">Check-in</li>
                            </ul><!--/breadcrumb-->
                        </div><!-- /content-breadcrumb -->

                        <!-- content-body -->
                        <div class="content-body">
                            <!-- tables -->
                            <!--datatables-->
                            <div class="row-fluid">
                                <div class="span12">
                                    {% if msg %}
                                    <div class="alert alert-success">{{ msg }}</div>
                                    {% endif %}
                                    <div class="box corner-all">
                                        <div class="box-header grd-white corner-top">
                                            <span id="box-name">Check-in</span>
                                        </div>
                                        <div class="box-body">

                                            {% if form.errors %}
                                                <p style="color: red;">
                                                    {# pulralize 是filter，用来判断是否为添加's'来表示单词的复数形式#}
                                                    Please correct the error{{ form.errors|pluralize }} below.
                                                </p>
                                            {% endif %}

                                            <form action="" method="post">
                                                <table>
                                                    {# 可以使用as_table，as_ul, as_p来改变格式 #}
                                                    {{ form.as_table }}
                                                </table>
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <input type="submit" value="Submit" class="btn btn-primary" />
                                                </div>
                                            </form>

                                        </div><!-- /box-body -->
                                    </div><!-- /box -->
                                </div><!-- /span -->
                            </div><!--/datatables-->


                            <!--/tables-->
                        </div><!--/content-body -->
                    </div><!-- /content -->
                </div><!-- /span content -->
                

            </div>
        </section>
    {% endblock %}

    {% block footer %}
    {% endblock %}

    {% block footerjs %}
        {{ block.super }}

        <script type="text/javascript">

            function getPrice(property_id){
                $.ajax({
                    type: "GET",
                    url: "/propertyPrice_list?property_id="+property_id,
                    dataType:'json',
                    success: function(data,textStatus){
                        var priceSelect = document.getElementById("id_price");
                        for ( var i=priceSelect.options.length-1; i>-1; i--){
                            priceSelect[i] = null;
                        }
                        if(data.length > 0) {
                            $("#id_price").show();
                            for(i=0;i<data.length;i++){
                                priceSelect.options[i] = new Option();
                                priceSelect.options[i].text = data[i].text;
                                priceSelect.options[i].value = data[i].value;
                            }
                        }else{
                           // $("#id_price").hide();
                        }

                    }
                })
            };

            function getCheckoutDate(){
                $.ajax({
                    type: "GET",
                    url: "/getCheckoutDate?checkinDate="+$("#id_checkinTime").val()+"&rentCircle="+$("#id_rent_circle").val()+"&circleCount="+$("#id_circle_count").val(),
                    dataType:'text',
                    success: function(data){
                        $("#id_prx_checkoutTime").val(data);
                    }
                })
            };

            //+---------------------------------------------------
            //| 日期计算
            //+---------------------------------------------------
            function DateAdd(startDate, strInterval, Number) {
                var dtTmp = startDate;
                switch (strInterval) {
                    case 's' :return new Date(Date.parse(dtTmp) + (1000 * Number));
                    case 'n' :return new Date(Date.parse(dtTmp) + (60000 * Number));
                    case 'h' :return new Date(Date.parse(dtTmp) + (3600000 * Number));
                    case 'd' :return new Date(Date.parse(dtTmp) + (86400000 * Number));
                    case 'w' :return new Date(Date.parse(dtTmp) + ((86400000 * 7) * Number));
                    case 'q' :return new Date(dtTmp.getFullYear(), (dtTmp.getMonth()) + Number*3, dtTmp.getDate(), dtTmp.getHours(), dtTmp.getMinutes(), dtTmp.getSeconds());
                    case 'm' :return new Date(dtTmp.getFullYear(), (dtTmp.getMonth()) + Number, dtTmp.getDate(), dtTmp.getHours(), dtTmp.getMinutes(), dtTmp.getSeconds());
                    case 'y' :return new Date((dtTmp.getFullYear() + Number), dtTmp.getMonth(), dtTmp.getDate(), dtTmp.getHours(), dtTmp.getMinutes(), dtTmp.getSeconds());
                }
            }

            function setProxCheckoutDate(){
                var checkinDate = new Date($("#id_checkinTime").val());
                var circleCount = $("#id_circle_count").val();
                var rentCircle = $("#id_rent_circle").val();
                var checkoutDate = new Date();
                if (rentCircle == '1'){
                    alert(circleCount);
                    checkoutDate = DateAdd(checkinDate, 'm', circleCount);
                }else if(rentCircle == '2'){
                    checkoutDate = DateAdd(checkinDate, 'q', circleCount);
                }else if(rentCircle == '3'){
                    checkoutDate = DateAdd(checkinDate, 'y', circleCount);
                }else if(rentCircle == '4'){
                    checkoutDate = DateAdd(checkinDate, 'd', circleCount);
                }
                alert(checkinDate);
                alert(checkoutDate);
            }

            function setPayername(){
                var checkText=$("#id_tenant").find("option:selected").text();
                $("#id_payer_name").val(checkText);
            }

            $(document).ready(function() {
                // try your js

                new_tenant_html = '<a class="btn btn-primary" href="/tenantForm/?checkin={{ checkin_propid }}">New Tenant</a>';
                var txtName = document.getElementById("id_tenant");
                var htmlSpan = document.createElement("p");
                htmlSpan.innerHTML = new_tenant_html;
                insertAfter(htmlSpan,txtName);

                function insertAfter(newEl, targetEl)
                {
                      var parentEl = targetEl.parentNode;
                      if(parentEl.lastChild == targetEl)
                      {
                           parentEl.appendChild(newEl);
                      }else
                      {
                           parentEl.insertBefore(newEl,targetEl.nextSibling);
                      }
                }

                $(function() {
                    $( "#id_checkinTime" ).datepicker({changeYear : true, changeMonth : true, dateFormat: 'yy-mm-dd'});
                });

                // uniform
                $('[data-form=uniform]').uniform();
                
                // datatables
                $('#datatables').dataTable( {
                    "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
                    "sPaginationType": "bootstrap",
                    "oLanguage": {
                            "sLengthMenu": "_MENU_ records per page"
                    }
                });
                
                // datatables table tools
                $('#datatablestools').dataTable({
                    "sDom": "<'row-fluid'<'span6'T><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
                    "oTableTools": {
                        "aButtons": [
                            "copy",
                            "print",
                            {
                                "sExtends":    "collection",
                                "sButtonText": 'Save <span class="caret" />',
                                "aButtons":    [ 
                                    "xls", 
                                    "csv",
                                    {
                                        "sExtends": "pdf",
                                        "sPdfOrientation": "landscape",
                                        "sPdfMessage": "Your custom message would go here."
                                    }
                                ]
                            }
                        ],
                        "sSwfPath": "js/datatables/swf/copy_csv_xls_pdf.swf"
                    }
                });

            });
      
        </script>

        <script src="/static/js/datatables/jquery.dataTables.min.js"></script>
        <script src="/static/js/datatables/extras/ZeroClipboard.js"></script>
        <script src="/static/js/datatables/extras/TableTools.min.js"></script>
        <script src="/static/js/datatables/DT_bootstrap.js"></script>
        <script src="/static/js/responsive-tables/responsive-tables.js"></script>

    {% endblock %}
    </body>
