{% block header %}
        <!-- section header -->
        <header class="header" data-spy="affix" data-offset-top="0">
            <!--nav bar helper-->
            <div class="navbar-helper">
                <div class="row-fluid">
                    <!--panel site-name-->
                    <div class="span2">
                        <div class="panel-sitename">
                            <h2><a href="index.html"><span class="color-teal">PMS</span></a></h2>
                        </div>
                    </div>
                    <!--/panel name-->
                    <div class="span2 pull-right">
                        <!--panel button ext-->
                        <div class="btn-group">
                          <a class="btn btn-primary" href="#"><i class="glyphicon-user icon-white"></i> {{ user.username }}</a>
                          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="#"><i class="glyphicon-pencil"></i> Change Password</a></li>
                            <li class="divider"></li>
                            <li><a href="/accounts/logout/"><i class="i"></i> Logout</a></li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div><!--/nav bar helper-->
        </header>

{% endblock %}