<!-- span side-left -->
<div class="span1">
    <!--side bar-->
    <aside class="side-left">
        <ul class="sidebar">
            <li class="active first"> <!--always define class .first for first-child of li element sidebar left-->
                <a href="/" title="dashboard">
                    <div class="helper-font-24">
                        <i class="icofont-dashboard"></i>
                    </div>
                    <span class="sidebar-text">Dashboard</span>
                </a>
            </li>

            <li>
                <a href="/property/list" title="Property">
                    <div class="helper-font-24">
                        <i class="icofont-star"></i>
                    </div>
                    <span class="sidebar-text">Property</span>
                </a>
            </li>
            <li>
                <a href="/priceList" title="Property Price">
                    <div class="helper-font-24">
                        <i class="icofont-table"></i>
                    </div>
                    <span class="sidebar-text">Property Price</span>
                </a>
            </li>
            <li>
                <a href="/allBill_list" title="Bills">
                    <div class="helper-font-24">
                        <i class="icofont-columns"></i>
                    </div>
                    <span class="sidebar-text">Bills</span>
                </a>
            </li>
            <li>
                <a href="/tenantList" title="Tenant">
                    <div class="helper-font-24">
                        <i class="icofont-group"></i>
                    </div>
                    <span class="sidebar-text">Tenants</span>
                </a>
            </li>

                </ul>
            </li>
        </ul>
    </aside><!--/side bar -->
</div><!-- span side-left -->