@font-face {
  font-family: 'Aclonica';
  font-style: normal;
  font-weight: 400;
  src: local('Aclonica'), local('Aclonica-Regular'), url(../font/VVH16EjBQLZ2NYB8eVnrO3YhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}